# New York City Crash Report 
## Group E (NYC Crashers)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

C:\Users\jmitc\AppData\Local\Temp\ipykernel_9988\3941036989.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Reading and Assessment of Data

In [2]:
df = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv', encoding='latin1')
df.info()

C:\Users\jmitc\AppData\Local\Temp\ipykernel_9988\3975778814.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Motor_Vehicle_Collisions_-_Crashes.csv', encoding='latin1')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2070594 entries, 0 to 2070593
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 458.1+ MB

* Assessment of the number of columns and what headings are in each column.

In [3]:
df.describe()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,1.837243e+06,1.837243e+06,2.070576e+06,2.070563e+06,2.070594e+06,2.070594e+06,2.070594e+06,2.070594e+06,2.070594e+06,2.070594e+06,2.070594e+06
mean,4.062766e+01,-7.375207e+01,3.092516e-01,1.489933e-03,5.644081e-02,7.394014e-04,2.675319e-02,1.144599e-04,2.224569e-01,6.128676e-04,3.156009e+06
std,1.981063e+00,3.724374e+00,6.995985e-01,4.071506e-02,2.438824e-01,2.765745e-02,1.633632e-01,1.074303e-02,6.607131e-01,2.709606e-02,1.505039e+06
min,0.000000e+00,-2.013600e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
25%,4.066782e+01,-7.397485e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.153768e+06
50%,4.072084e+01,-7.392727e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.671536e+06
75%,4.076960e+01,-7.386673e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.189428e+06
max,4.334444e+01,0.000000e+00,4.300000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00,4.707442e+06

In [4]:
df.head(50).T

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
CRASH DATE,09/11/2021,03/26/2022,06/29/2022,09/11/2021,12/14/2021,04/14/2021,12/14/2021,12/14/2021,12/14/2021,12/14/2021,...,04/24/2022,04/24/2022,04/22/2022,04/24/2022,04/24/2022,04/24/2022,04/24/2022,04/15/2022,04/24/2022,04/24/2022
CRASH TIME,2:39,11:45,6:55,9:35,8:13,12:47,17:05,8:17,21:10,14:58,...,16:45,4:49,17:17,1:30,6:00,21:40,17:45,6:11,9:51,0:00
BOROUGH,NaN,NaN,NaN,BROOKLYN,BROOKLYN,NaN,NaN,BRONX,BROOKLYN,MANHATTAN,...,NaN,NaN,NaN,BROOKLYN,QUEENS,BRONX,BRONX,NaN,NaN,BRONX
ZIP CODE,NaN,NaN,NaN,11208.0,11233.0,NaN,NaN,10475.0,11207.0,10017.0,...,NaN,NaN,NaN,11220.0,11411.0,10452.0,10466.0,NaN,NaN,10453.0
LATITUDE,NaN,NaN,NaN,40.667202,40.683304,NaN,40.709183,40.86816,40.67172,40.75144,...,40.607685,40.855972,40.790276,40.642986,0.0,40.843906,40.89481,0.0,40.85169,40.861862
LONGITUDE,NaN,NaN,NaN,-73.8665,-73.917274,NaN,-73.956825,-73.83148,-73.8971,-73.97397,...,-74.13892,-73.869896,-73.9396,-74.01621,0.0,-73.92413,-73.86183,0.0,-73.95238,-73.91275
LOCATION,NaN,NaN,NaN,"(40.667202, -73.8665)","(40.683304, -73.917274)",NaN,"(40.709183, -73.956825)","(40.86816, -73.83148)","(40.67172, -73.8971)","(40.75144, -73.97397)",...,"(40.607685, -74.13892)","(40.855972, -73.869896)","(40.790276, -73.9396)","(40.642986, -74.01621)","(0.0, 0.0)","(40.843906, -73.92413)","(40.89481, -73.86183)","(0.0, 0.0)","(40.85169, -73.95238)","(40.861862, -73.91275)"
ON STREET NAME,WHITESTONE EXPRESSWAY,QUEENSBORO BRIDGE UPPER,THROGS NECK BRIDGE,NaN,SARATOGA AVENUE,MAJOR DEEGAN EXPRESSWAY RAMP,BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,3 AVENUE,...,STATEN ISLAND EXPRESSWAY,BOSTON ROAD,EAST 107 STREET,NaN,NaN,BOSCOBEL PLACE,BRONX RIVER PARKWAY,EAST 162 STREET,CROSS BRONX EXPY,MAJOR DEEGAN EXPRESSWAY
CROSS STREET NAME,20 AVENUE,NaN,NaN,NaN,DECATUR STREET,NaN,NaN,NaN,NaN,EAST 43 STREET,...,NaN,BRONX PARK EAST,NaN,NaN,NaN,UNIVERSITY AVENUE,EAST 233 STREET,NaN,NaN,WEST FORDHAM ROAD
OFF STREET NAME,NaN,NaN,NaN,1211 LORING AVENUE,NaN,NaN,NaN,344 BAYCHESTER AVENUE,2047 PITKIN AVENUE,NaN,...,NaN,NaN,NaN,5610 4 AVENUE,116-44 234 STREET,NaN,NaN,NaN,NaN,NaN
NUMBER OF PERSONS INJURED,2.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
NUMBER OF PERSONS KILLED,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NUMBER OF PEDESTRIANS INJURED,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
NUMBER OF PEDESTRIANS KILLED,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NUMBER OF CYCLIST INJURED,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NUMBER OF CYCLIST KILLED,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NUMBER OF MOTORIST INJURED,2,1,0,0,0,0,0,2,0,0,...,1,0,0,0,0,0,0,0,0,0
NUMBER OF MOTORIST KILLED,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
CONTRIBUTING FACTOR VEHICLE 1,Aggressive Driving/Road Rage,Pavement Slippery,Following Too Closely,Unspecified,NaN,Unspecified,Passing Too Closely,Unspecified,Driver Inexperience,Passing Too Closely,...,Driver Inattention/Distraction,Unspecified,Traffic Control Disregarded,Unspecified,Unsafe Lane Changing,Alcohol Involvement,Driver Inattention/Distraction,Driver Inattention/Distraction,Unspecified,Driver Inattention/Distraction
CONTRIBUTING FACTOR VEHICLE 2,Unspecified,NaN,Unspecified,NaN,NaN,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,...,Unspecified,Unspecified,NaN,NaN,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified
CONTRIBUTING FACTOR VEHICLE 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTRIBUTING FACTOR VEHICLE 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CONTRIBUTING FACTOR VEHICLE 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COLLISION_ID,4455765,4513547,4541903,4456314,4486609,4407458,4486555,4486660,4487074,4486519,...,4521660,4521759,4522226,4522015,4521460,4522156,4521633,4522124,4521937,4521801
VEHICLE TYPE CODE 1,Sedan,Sedan,Sedan,Sedan,NaN,Dump,Sedan,Sedan,Sedan,Sedan,...,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,E-Bike,Station Wagon/Sport Utility Vehicle,Sedan,Taxi,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,Sedan
VEHICLE TYPE CODE 2,Sedan,NaN,Pick-up Truck,NaN,NaN,Sedan,Tractor Truck Diesel,Sedan,NaN,Station Wagon/Sport Utility Vehicle,...,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,E-Scooter,NaN,NaN
VEHICLE TYPE CODE 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VEHICLE TYPE CODE 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VEHICLE TYPE CODE 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* Assessment of the data's top values

In [5]:
df_cfv1 = df["CONTRIBUTING FACTOR VEHICLE 1"].value_counts()

In [6]:
for i in range(1,6):
    df_cfv = df["CONTRIBUTING FACTOR VEHICLE "+str(i)].value_counts()
    print(f"===================== Contributing factor {i} =============================")
    print(df_cfv)

===================== Contributing factor 1 =============================
CONTRIBUTING FACTOR VEHICLE 1
Unspecified                       705582
Driver Inattention/Distraction    414046
Failure to Yield Right-of-Way     122943
Following Too Closely             110620
Backing Unsafely                   76582
                                   ...
Windshield Inadequate                 80
Cell Phone (hand-held)                79
Texting                               51
Listening/Using Headphones            24
1                                     10
Name: count, Length: 61, dtype: int64
===================== Contributing factor 2 =============================
CONTRIBUTING FACTOR VEHICLE 2
Unspecified                       1473382
Driver Inattention/Distraction      94041
Other Vehicular                     31999
Following Too Closely               18977
Failure to Yield Right-of-Way       17088
                                   ...
Eating or Drinking                     11
Listening/Using Headphones             11
Windshield Inadequate                   7
1                                       5
Texting                                 3
Name: count, Length: 61, dtype: int64
===================== Contributing factor 3 =============================
CONTRIBUTING FACTOR VEHICLE 3
Unspecified                                              137849
Other Vehicular                                            2763
Following Too Closely                                      1951
Driver Inattention/Distraction                             1944
Fatigued/Drowsy                                             853
Pavement Slippery                                           396
Reaction to Uninvolved Vehicle                              212
Driver Inexperience                                         180
Outside Car Distraction                                     162
Unsafe Speed                                                160
Traffic Control Disregarded                                 156
Failure to Yield Right-of-Way                               145
Passing or Lane Usage Improper                              114
Alcohol Involvement                                         106
Backing Unsafely                                             93
Unsafe Lane Changing                                         80
Turning Improperly                                           78
Obstruction/Debris                                           72
Fell Asleep                                                  58
Passing Too Closely                                          54
Aggressive Driving/Road Rage                                 47
View Obstructed/Limited                                      45
Other Electronic Device                                      38
Lost Consciousness                                           36
Brakes Defective                                             34
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion        30
Failure to Keep Right                                        28
Physical Disability                                          23
Prescription Medication                                      21
Passenger Distraction                                        18
Oversized Vehicle                                            18
Glare                                                        15
Traffic Control Device Improper/Non-Working                  14
Pavement Defective                                           14
Driverless/Runaway Vehicle                                   10
Tire Failure/Inadequate                                       8
Illness                                                       7
Drugs (Illegal)                                               6
Accelerator Defective                                         4
Animals Action                                                4
80                                                            3
Lane Marking Improper/Inadequate                              3
Drugs (illegal)                                               3
Steering Failure                                              3
Cell Phone (hands-free)                                       2
Reaction to Other Uninvolved Vehicle                          2
Eating or Drinking                                            1
Cell Phone (hand-Held)                                        1
1                                                             1
Tinted Windows                                                1
Illnes                                                        1
Name: count, dtype: int64
===================== Contributing factor 4 =============================
CONTRIBUTING FACTOR VEHICLE 4
Unspecified                                    31475
Other Vehicular                                  610
Following Too Closely                            390
Driver Inattention/Distraction                   273
Fatigued/Drowsy                                  170
Pavement Slippery                                116
Reaction to Uninvolved Vehicle                    41
Unsafe Speed                                      32
Outside Car Distraction                           28
Driver Inexperience                               27
Traffic Control Disregarded                       23
Obstruction/Debris                                22
Alcohol Involvement                               20
Fell Asleep                                       19
Failure to Yield Right-of-Way                     16
Passing or Lane Usage Improper                    15
Unsafe Lane Changing                              10
Backing Unsafely                                   9
Other Electronic Device                            9
Failure to Keep Right                              7
Aggressive Driving/Road Rage                       7
Brakes Defective                                   7
Passing Too Closely                                5
Turning Improperly                                 4
Pavement Defective                                 3
Prescription Medication                            3
View Obstructed/Limited                            3
Physical Disability                                3
Drugs (illegal)                                    2
Driverless/Runaway Vehicle                         2
Traffic Control Device Improper/Non-Working        2
Lost Consciousness                                 2
Illness                                            2
Drugs (Illegal)                                    2
Glare                                              1
Animals Action                                     1
Steering Failure                                   1
Accelerator Defective                              1
Windshield Inadequate                              1
Oversized Vehicle                                  1
Tire Failure/Inadequate                            1
Name: count, dtype: int64
===================== Contributing factor 5 =============================
CONTRIBUTING FACTOR VEHICLE 5
Unspecified                                    8511
Other Vehicular                                 177
Following Too Closely                            98
Driver Inattention/Distraction                   63
Pavement Slippery                                49
Fatigued/Drowsy                                  41
Reaction to Uninvolved Vehicle                   12
Alcohol Involvement                              11
Obstruction/Debris                               10
Driver Inexperience                              10
Unsafe Speed                                      9
Outside Car Distraction                           7
Failure to Yield Right-of-Way                     5
Traffic Control Disregarded                       4
Fell Asleep                                       3
Drugs (illegal)                                   2
Passing Too Closely                               2
Other Electronic Device                           2
Failure to Keep Right                             2
Glare                                             1
Traffic Control Device Improper/Non-Working       1
Backing Unsafely                                  1
Steering Failure                                  1
Tire Failure/Inadequate                           1
Brakes Defective                                  1
Illness                                           1
Passing or Lane Usage Improper                    1
Aggressive Driving/Road Rage                      1
Pavement Defective                                1
Oversized Vehicle                                 1
Name: count, dtype: int64

Checking for the contributing factors of vehicular accidents on the Roads of New York

In [7]:
df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           644237
ZIP CODE                          644487
LATITUDE                          233351
LONGITUDE                         233351
LOCATION                          233351
ON STREET NAME                    439198
CROSS STREET NAME                 781957
OFF STREET NAME                  1723769
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       6769
CONTRIBUTING FACTOR VEHICLE 2     320567
CONTRIBUTING FACTOR VEHICLE 3    1922727
CONTRIBUTING FACTOR VEHICLE 4    2037228
CONTRIBUTING FACTOR VEHICLE 5    2061565
COLLISION_ID                           0
VEHICLE TYPE CODE 1                13610
VEHICLE TYPE CODE 2               395057
VEHICLE TYPE CODE 3              1928065
VEHICLE TYPE CODE 4              2038382
VEHICLE TYPE CODE 5              2061839
dtype: int64

* Checking for missing data

In [8]:
#check for nonunique values in the Collision ID column
df['COLLISION_ID'].nunique()

2070594

nunique return the unique values and ignores the nan data type

In [9]:
#df.drop(['COLLISION_ID'], inplace=True, axis=1)

Dropping the collision ID. The collision ID acts as an identifier for the collisions that took place which are unique to each collision. Because of this it cannot be used for aiding the imputation of missing values